// Color scheme -----------------------------------

@dbg: #2a2235; // Dark background
@dhl: #3a3245; // Dark highlight
@dt2: #7a7b65; // Dark bg text secondary
@dt1: #7a929a; // Dark bg text primary

@lbg: #f0f1ef; // Light background
@lhl: #e0e1df; // Light highlight
@lt2: #7e96a8; // Light bg text secondary
@lt1: #53623e; // Light bg text primary

@red: #a24e37; // Red
@ora: #9d7a47; // Orange
@yel: #94960d; // Yellow
@gre: #749234; // Green

@cya: #529298; // Cyan
@blu: #5a7ca8; // Blue
@vio: #8a6fa2; // Violet
@mag: #a3636d; // Magenta

// Visual order -----------------------------------

@primary1: @gre;
@primary2: @vio;
@primary3: @ora;

@secondary1: @cya;
@secondary2: @blu;

@tertiary1: @mag;
@tertiary2: @yel;
@tertiary3: @red;

// Theme variant ----------------------------------

@text1: @lt1; // text primary
@text2: @lt2; // text secondary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight

// Atom Base vars ---------------------------------

@syntax-fg: @text1; // text primary
@syntax-accent: @tertiary1; // cursor, markdown preview links, etc.
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
